@import 'mixins';

$blue: #533687 ;
$ligth-grey: #F2F2F2;
$offset-circle: 100px;
$orange: #e67e22;

body {
  background: $ligth-grey;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}


.btn {
  border-radius: 2px;
  border-width: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: #ecf0f1;
  display: inline-block;
  outline: none;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  transition: background-color .3s;
  &.orange {
    background-color: $orange;
  }
  &.orange:hover, .orange:focus {
    background-color: #d35400;
  }
}

.circle-container {
  position: relative;
}

.circle-black {
  @include circle(20px, black);
  right: $offset-circle - 20px;
 
}

$offset-circle: $offset-circle - 20px;
.circle-blue {
  @include circle(20px, blue);
  right: $offset-circle - 20px;
  
}

$offset-circle: $offset-circle - 20px;
.circle-red {
  @include circle(20px, red);
  right: $offset-circle - 20px;
  
}

$offset-circle: $offset-circle - 20px;
.circle-orange {
  @include circle(20px, orange);
  right: $offset-circle - 20px;
}

.cursor {
  cursor: pointer;
  padding-left: 10px;
}
.cursor-edit {
  cursor: pointer;
  float: right;
  padding-left: 10px;
}

.list-container {
  width: 500px;
  padding: 20px;
}

.list-input {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 30px;
  width: 420px;
}

.hide-element {
  display: none;
}

.main-container {
  text-align: -webkit-center;
}


.main-div {
  background-color: darken($ligth-grey, 15%);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 40px;
  text-align: left;
  width: 460px;
}
.edit-div {
  background-color: darken($ligth-grey, 15%);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 25px;
  padding-top: 3px;
  padding-right: 10px;
  text-align: left;
  width: 460px;
}

.main-input {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 40px;
  width: 360px;
}

.title-input-none {
  display: none;
}

.title-input {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 40px;
  width: 460px;
}

.todo-completed {
  text-decoration: line-through;
}

.padding-div {
}

.margin-top {
  margin-top: 80px;
}

.margin-none {
  margin-top: none;
}

.search-bar {
  align-items: center;
  background: $blue;
  box-shadow: 0 2px 0 0px rgba(#000,.1);
  display: flex;
  float: left;
  height: 80px;
  padding-bottom: 20px;
  padding: 15px;
  width: 100%;
  .search {
    -webkit-appearance: none;
    background: #fff;
    border-radius: 0;
    border: none;
    flex: 1 1 auto;
    height: 50px;
    order: 2;
    outline: none;
    padding: 10px;
    transition: all 0.05s ease-in-out;
    &:focus {
      height: 80px;
      margin-left: -15px;
      padding: 10px 15px;
    }
  }
}

  

  