$ligth-grey: #F2F2F2;
$blue: #533687 ;

body {
  background: $ligth-grey;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.button-hidden {
  display: none;
}

.btn {
  border-radius: 2px;
  border-width: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: #ecf0f1;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  transition: background-color .3s;
  &.orange {
    background-color: #e67e22;
  }
  &.orange:hover, .orange:focus {
    background-color: #d35400;
  }
}

.cursor {
  cursor: pointer;
  padding-left: 10px;
}

.list-input {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 30px;
  width: 360px;
}

.main-container {
  text-align: -webkit-center;
}
.main-div {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 40px;
  text-align: left;
  width: 460px;
}
.main-input {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 40px;
  width: 400px;

}

.title-input-none {
  display: none;
}

.title-input {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  height: 40px;
  width: 460px;
}

.todo-completed {
  text-decoration: line-through;
}

.padding-div {
  padding-top: 5px;
}

.margin-top {
  margin-top: 80px;
}

.margin-none {
  margin-top: none;
}

.search-bar {
  align-items: center;
  background: $blue;
  box-shadow: 0 2px 0 0px rgba(#000,.1);
  display: flex;
  float: left;
  height: 80px;
  padding-bottom: 20px;
  padding: 15px;
  width: 100%;
  .search {
    -webkit-appearance: none;
    background: #fff;
    border-radius: 0;
    border: none;
    flex: 1 1 auto;
    height: 50px;
    order: 2;
    outline: none;
    padding: 10px;
    transition: all 0.05s ease-in-out;
    &:focus {
      height: 80px;
      margin-left: -15px;
      padding: 10px 15px;
    }
  }
}

  

  