$color: #F2F2F2;
$blue: #533687 ;

body{
	background: $color;
	font-size: 18px;
	font-family: "Roboto";
}

.button-completed {
	font-weight: bold;
}
.button-hidden {
	display: none;
}
.btn {
	position: relative;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	
	color: #ecf0f1;
	transition: background-color .3s;
	&.orange {
		background-color: #e67e22;
	}
	&.orange:hover, .orange:focus {
		background-color: #d35400;
	}
}

.cursor {
	cursor: pointer;
	padding-left: 10px;
}
.list-input {
	width: 360px;
	height: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: none;
	font-size: 18px;
  	font-family: "Roboto";
}

.main-container {
	text-align: -webkit-center;
}
.main-div {
	width: 460px;
	height: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: none;
	font-size: 18px;
  	font-family: "Roboto";
  	text-align: left;
}
.main-input {
	width: 400px;
	height: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: none;
	font-size: 18px;
  	font-family: "Roboto";

}
.title-input-none {
	display: none;
}
.title-input {
	width: 460px;
	height: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: none;
	font-size: 18px;
  	font-family: "Roboto";
}

.todo-completed {
	text-decoration: line-through;
}

.padding-div {
	padding-top: 5px;
}

.margin-top {
	margin-top: 80px;
}

.margin-none {
	margin-top: none;
}

.search-bar {
  float: left;
  width: 100%;
  height: 80px;
  background: $blue;
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 0 0px rgba(#000,.1);
  padding-bottom: 20px;
  .search {
	flex: 1 1 auto;
	order: 2;
	outline: none;
	border: none;
	border-radius: 0;
	background: #fff;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	height: 50px;
	transition: all 0.05s ease-in-out;
	-webkit-appearance: none;
	&:focus {
	  height: 80px;
	  margin-left: -15px;
	  padding: 10px 15px;
	}
  }
}

  

  